.count-wrap {
  text-align: center;
  padding: 30px;
}

.count-box {
  color: #1E1E1E;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 140%;
}

.btn {
  border-radius: 100px;
  appearance: none;
  border: transparent;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
  width: 240px;
  height: 48px;
  cursor: pointer;
  transition: all ease-out 0.5s;
}

.btn-increment {
  background: #39b869;
  color: #ffffff;
}

.btn-increment:hover {
    color: #39b869;
    background: #ffffff;
    border: 1px solid #39b869;
}

.btn-decrement{
    color: #464646;
    border: 1px solid #464646;
    background-color: transparent;
}

.btn-decrement:hover {
    color: #fff;
    background: #464646;
}