* {
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 20px;
  display: flex;
  flex: 0 0 33%;
  max-width: 33%;
  align-items: stretch;
  box-sizing: border-box;
}

.user-card-inner {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #282828;
  width: 100%;
  padding: 20px;
  position: relative;
}

.user-card-name {
  color: #795aa0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.user-card-job {
  color: #5c5c5c;
  font-size: 14px;
  line-height: 24px;
}

.user-card-inner:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: auto;
  bottom: -10px;
  left: auto;
  right: -10px;
  border: 1px solid #282828;
  background: #D6E1E6;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  transform: translateZ(-1px);
}
